GOOGLE_API_KEY=your_google_api_key_here
#GOOGLE_BASE_URL=
DEEP_SEEK_API_KEY=your_google_api_key_here
#DEEP_SEEK_BASE_URL=
CHOICE_MODEL=GOOGLE

VOLCENGINE_API_KEY=your_embedding_api_key_here

EXA_API_KEY=your_exa_api_key_here

MINIMAX_API_KEY=your_minimax_api_key_here

HTTP_PROXY=http://127.0.0.1:7890
SOCKS_PROXY=http://127.0.0.1:7890

NAPCAT_WS=ws://127.0.0.1:3001
NAPCAT_TOKEN=your_napcat_token
WEB_SEARCH_HOST=http://127.0.0.1:18080
PLAYWRIGHT_HOST=ws://127.0.0.1:13001
PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=true

#DEBUG_GROUP_ID=123456789
ENABLE_GROUPS=123456789,987654321
MESSAGE_REDIRECT_MAP=123456789:987654321

STEAM_API_KEY=your_steam_api_key_here
STEAM_SUBSCRIPTIONS=123456789,1234567890,76561198000000000;123456789,9876543210,76561198111111111