[submodule "erii-plugins"]
	path = erii-plugins
	url = https://github.com/spcookie/erii-plugins.git
[submodule "erii-distribution"]
	path = erii-distribution
	url = https://github.com/spcookie/erii-distribution.git
[submodule "erii-onebot11"]
	path = erii-onebot11
	url = https://github.com/spcookie/erii-onebot11.git
[submodule "erii-docs"]
	path = erii-docs
	url = https://github.com/spcookie/erii-docs.git
